asgiref==3.11.1
brotli==1.2.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
cssselect2==0.9.0
Django==5.1.9
django-cors-headers==4.4.0
django-modeltranslation==0.19.12
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
factory_boy==3.3.3
Faker==40.20.0
fonttools==4.63.0
google-auth==2.54.0
idna==3.18
iniconfig==2.3.0
packaging==26.2
pillow==11.2.1
pluggy==1.6.0
psycopg2-binary==2.9.10
mysqlclient==2.2.4
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
PyJWT==2.13.0
pyphen==0.17.2
pytest==9.0.3
pytest-django==4.9.0
python-decouple==3.8
qrcode==8.2
reportlab==4.5.1
requests==2.34.2
sqlparse==0.5.5
tinycss2==1.5.1
urllib3==2.7.0
cairocffi==1.7.1
html5lib==1.1
weasyprint==52.5
webencodings==0.5.1
